
  .App {
    padding-top: 100px;
    height: 9500px;
    background: linear-gradient(
      to bottom,
      green,
      blue,
      red
    );
    /* background-color: #2BACB5; */
    text-align: center;
    position: relative;
  }
  svg.sticky {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    overflow: visible;
   }
  p {
    color: #c7fcd8;
  }
  /* .stroke {
    stroke-dashoffset: 0;
    stroke-dasharray: 100;
  } */
